<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>211</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>210</string>
					<key>Timestamp</key>
					<string>769550125.042408</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>STEAM Lab/CellsAR/CellsARViewContainer.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        ]
</string>
				<key>leading</key>
				<string>        let cameraPath: [(position: SIMD3&lt;Float&gt;, rotation: SIMD3&lt;Float&gt;, duration: TimeInterval)] = [
            (position: SIMD3&lt;Float&gt;(0,0,1), rotation: SIMD3&lt;Float&gt;(0,0,0).Normalized(), duration: 0),
</string>
				<key>trailing</key>
				<string>        moveCameraAlongPath(arView: arView, path: cameraPath)
        return arView
    }
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>211</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>210</string>
					<key>Timestamp</key>
					<string>769550125.042387</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>STEAM Lab/CellsAR/CellsARViewContainer.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        ]
</string>
				<key>leading</key>
				<string>        let cameraPath: [(position: SIMD3&lt;Float&gt;, rotation: SIMD3&lt;Float&gt;, duration: TimeInterval)] = [
            (position: SIMD3&lt;Float&gt;(0,0,1), rotation: SIMD3&lt;Float&gt;(0,0,0).Normalized(), duration: 0),
</string>
				<key>trailing</key>
				<string>        moveCameraAlongPath(arView: arView, path: cameraPath)
        return arView
    }
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
